@charset "utf-8";

/* color & background */
$lightgreen: lightgreen;

ul {
  padding: 0;
}

li {
  list-style: none;
}

i {
  font-style: normal;
}

input {
  border: none;
}

a:active, a:hover, a:focus {
  color: white;
  text-decoration: none;
  outline: none;
}

/* ui bootstrap */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.opa {
  opacity: 0.5;
}

.no-data {
  text-align: center;
}

.main {
  margin: 0 auto;
  padding: 50px 0 40px;
}
