@charset "utf-8";

header {
  position: fixed;
  width: 100%;
  height: 40px;
  line-height: 40px;
  top: 0;
  left: 0;
  background: lightgreen;
  h1 {
    text-align: center;
  }
}

.header-filler {
  margin-top: 40px;
}