@charset "utf-8";

@import "common";
@import "header";

.main-index {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  height: 390px;
}