@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "microsoft yahei", Arial;
}

input {
  border: none;
  -webkit-appearance: none;
}

h1 {
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}