@charset "utf-8";

@import "common";
@import "header";

.form-action {
  margin-bottom: 16px;
  input {
    height: 40px;
    border-radius: 4px;
  }
  .ipt-search {
    width: 100%;
    height: 36px;
    margin-bottom: 8px;
    text-align: center;
    border-bottom: $lightgreen 1px dashed;
  }
  .ipt-todo {
    width: 77%;
    background: #ececec;
    text-indent: 1em;
  }
  .btn-add {
    float: right;
    width: 20%;
    background: $lightgreen;
    color: white;
  }
}

.list-todo {
  li {
    display: -webkit-box;
    margin-bottom: 8px;
    padding: 0 8px;
    line-height: 40px;
    border-bottom: #e9e9e9 1px solid;
    .col {
      -webkit-box-flex: 1;
      &.content {
        margin-right: 8px;
        input[type=text] {
          width: 100%;
        }
      }
    }
    a {
      display: block;
      color: #4c4c4c;
    }
  }
}

.detail-todo {

}