<ul class="list-message" ng-show="messages.length">
    <li ng-repeat="msg in messages">
        <div class="name">{{msg.name}}</div>
        <div class="content">{{msg.content}}</div>
        <div class="action">{{msg.time}}</div>
    </li>
</ul>

<div class="no-data" ng-hide="messages.length">no data</div>

<form class="form-message">
    <div class="item">name:<input type="text" ng-model="message.name"/></div>
    <div class="item">email:<input type="text" ng-model="message.email"/></div>
    <div class="item">content:<input type="text" ng-model="message.content"/></div>
    <input type="button" ng-click="add()" value="comment"/>
</form>