<ul class="list-message" ng-show="messages.length">
    <li ng-repeat="msg in messages">
        <div class="desc">游客 <i class="name">{{msg.name}}</i> 在 <i class="time">{{msg.time}}</i> 留言:</div>
        <div class="content">{{msg.content}}</div>
    </li>
</ul>

<div class="no-data" ng-hide="messages.length">no data</div>

<form class="form-message">
    <div class="item">
        <input type="text" class="form-control" ng-model="message.name" placeholder="name..."
               uib-tooltip="name required" tooltip-enable="!message.name"/>
    </div>
    <div class="item">
        <input type="email" class="form-control" ng-model="message.email" placeholder="email..."
               uib-tooltip="email required" tooltip-enable="!message.email"/>
    </div>
    <div class="item">
        <input type="text" class="form-control" ng-model="message.content" placeholder="content..."
               uib-tooltip="content required" tooltip-enable="!message.content"/>
    </div>
    <input type="button" class="btn-comment" ng-click="add()" value="comment"/>
</form>