<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <title>HI,DIVA!</title>
    <link rel='stylesheet' href='css/cv.css'/>
    <link href="favicon.ico" rel="Shortcut Icon" type="image/x-icon">
</head>
<body>

<header>
    <% include header.ejs %>
</header>

<div class="main">
    cv
</div>

<footer>
    <% include footer.ejs %>
</footer>

</body>
</html>