<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/index.css'/>
    <link href="favicon.ico" rel="Shortcut Icon" type="image/x-icon">
</head>
<body>

<header>
    <% include header.ejs %>
</header>

<section class="main" ng-view></section>

<footer>
    <% include footer.ejs %>
</footer>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>

<script>
    angular.module('app', ['ngRoute'])
            .config(['$locationProvider', '$routeProvider', function ($locationProvider, $routeProvider) {
                $locationProvider.html5Mode(true); // 移除url中的管理路径#
                $routeProvider
                        .when('/', {
                            templateUrl: 'views/home'
                        })
                        .when('/home', {
                            templateUrl: 'views/home'
                        })
                        .when('/todo', {
                            templateUrl: 'views/todo'
                        })
                        .when('/cv', {
                            templateUrl: 'views/cv'
                        })
                        .otherwise({
                            redirectTo: '/' // it will be redirected to index when user visits undefined url address.
                        });
            }]);
</script>

</body>
</html>