<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <title>HI,DIVA!</title>
    <link rel='stylesheet' href='css/index.css'/>
    <link href="favicon.ico" rel="Shortcut Icon" type="image/x-icon">
</head>
<body>

<header>
    <% include header.ejs %>
</header>

<section class="main main-index">
    <p>KEEP CALM</p>
    <p style="font-size: 12px;">AND</p>
    <p>CARRY ON</p>
</section>

<footer>
    <% include footer.ejs %>
</footer>

</body>
</html>