<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/main.css'/>
    <link href="favicon.ico" rel="Shortcut Icon" type="image/x-icon">
</head>
<body>
<header>
    <h1><%= title %></h1>
</header>

<div class="main header-filler" ng-view></div>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>

<!-- Template -->
<script type="text/ng-template" id="/todos.html">
    <!--<input class="ipt-search" type="text" ng-model="search.name" placeholder="search...">-->
    <!--<form>-->
    <!--<input class="ipt-todo" type="text" ng-model="todo.name" placeholder="添加一个任务..."/>-->
    <!--<input class="btn-add" type="button" value="添加" ng-click="add(todo)"/>-->
    <!--</form>-->
    <!--<ul>-->
    <!--<li ng-repeat="todo in todos | filter: search">-->
    <!--<span class="fr" ng-show="todo.completed">我还没写好...</span>-->
    <!--<input class="checkbox" type="checkbox" ng-model="todo.completed" ng-click="update(todo)">-->
    <!--<a href="#/{{todo._id}}">{{todo.name}}</a>-->
    <!--</li>-->
    <!--</ul>-->
    <form>
        <input type="text" class="ipt-search" placeholder="search..." ng-model="search.name">
        <input type="text" class="ipt-todo" placeholder="add todo..." ng-model="newTodo">
        <input type="button" class="btn-add" value="ADD" ng-click="add()"/>
    </form>

    <ul>
        <li ng-repeat="todo in todos | filter: search">
            <input type="checkbox" ng-model="todo.completed" ng-change="update($index)">
            <a ng-show="!editing[$index]" href="#/">{{todo.name}}</a>
            <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
            <button ng-show="!editing[$index]" ng-click="remove($index)">remove</button>

            <input ng-show="editing[$index]" type="text" ng-model="todo.name">
            <button ng-show="editing[$index]" ng-click="update($index)">Update</button>
            <button ng-show="editing[$index]" ng-click="cancel($index)">Cancel</button>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="/todoDetails.html">
    <!--<div class="item">-->
    <!--<span class="fr">创建于{{todo.updated_at}}</span>-->
    <!--<input class="checkbox" type="checkbox" ng-model="todo.completed">{{todo.name}}-->
    <!--</div>-->
    <!--<div class="item"><input type="date" placeholder="到期日"/></div>-->
    <!--<div class="item"><input type="datetime" placeholder="提醒"/></div>-->
    <!--<div class="item"><textarea placeholder="添加备注...">{{todo.note}}</textarea></div>-->

    <h1></h1>
    completed: <input type="checkbox" ng-model="todo.completed"><br>
    note: <textarea ng-model="todo.note"></textarea><br><br>

    <button ng-click="update()">Update</button>
    <button ng-click="remove()">remove</button>
    <a href="/">Cancel</a>
</script>

<script>
    angular.module('app', ['ngRoute'])

        //---------------
        // Services
        //---------------

            .factory('todos', ['$http', function ($http) {
                var todos = {};

                todos.getTodos = function () {
                    return $http.get('/todos');
                };
                todos.addTodo = function (params) {
                    return $http.post('/todos', params);
                };
                todos.getTodo = function (id) {
                    return $http.get('/todos/' + id);
                };
                todos.updateTodo = function (params) {
                    return $http.put('/todos/' + params._id, params);
                }
                todos.deleteTodo = function (params) {
                    return $http.delete('/todos/' + params._id);
                }
                return todos;
            }])

        //---------------
        // Controllers
        //---------------

            .controller('TodoController', ['$scope', 'todos', function ($scope, todos) {
                $scope.editing = [];
                todos.getTodos().success(function (arr) {
                    $scope.todos = arr;
                });

                $scope.add = function () {
                    var todo = {};
                    if ($scope.newTodo) {
                        todo.name = $scope.newTodo;
                        todo.completed = false;
                    }
                    else {
                        alert('name required...');
                        return false;
                    }
                    todos.addTodo(todo).success(function (r) {
                        alert('added successfully');
                        $scope.todos.unshift(todo);
                        $scope.newTodo = ''; // clear textbox
                    })
                };

                $scope.update = function (index) {
                    var todo = $scope.todos[index];
                    todos.updateTodo(todo);
                    $scope.editing[index] = false;
                }

                $scope.edit = function (index) {
                    $scope.editing[index] = angular.copy($scope.todos[index]);
                }

                $scope.cancel = function (index) {
                    $scope.todos[index] = angular.copy($scope.editing[index]);
                    $scope.editing[index] = false;
                }

                $scope.remove = function (index) {
                    var todo = $scope.todos[index];
                    todos.deleteTodo(todo).success(function (r) {
                        alert('delete successfully');
                        $scope.todos.splice(index, 1);
                    })
                }
            }])

            .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'todos', '$location', function ($scope, $routeParams, todos, $location) {

//                todos.getTodo($routeParams.id).success(function (todo) {
//                    $scope.todo = todo;
//                })

                $scope.todo = todos.get({id: $routeParams.id});

                $scope.update = function () {
                    todos.update({id: $scope.todo._id}, $scope.todo, function () {
                        $location.url('/');
                    });
                }

                $scope.remove = function () {
                    todos.remove({id: $scope.todo._id}, function () {
                        $location.url('/');
                    });
                }
            }])

        //---------------
        // Routes
        //---------------

            .config(['$routeProvider', function ($routeProvider) {
                $routeProvider
                        .when('/', {
                            templateUrl: '/todos.html',
                            controller: 'TodoController'
                        })
                        .when('/:id', {
                            templateUrl: '/todoDetails.html',
                            controller: 'TodoDetailCtrl'
                        });
            }]);
</script>
</body>
</html>