<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/index.css'/>
    <link href="favicon.ico" rel="Shortcut Icon" type="image/x-icon">
</head>
<body>

<header>
    <% include header.ejs %>
</header>

<section class="main" ng-view></section>

<footer>
    <% include footer.ejs %>
</footer>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>

<script>
    angular.module('app')
            .config(['$routeProvider', function ($routeProvider) {
                $routeProvider
                        .when('/', {
                            templateUrl: 'home.ejs'
                        });
            }]);
</script>

</body>
</html>