<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/main.css'/>
    <link href="favicon.ico" rel="Shortcut Icon" type="image/x-icon">
</head>
<body>
<header>
    <h1><%= title %></h1>
</header>

<div class="main header-filler" ng-view></div>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>

<!-- Template -->
<script type="text/ng-template" id="/todos.html">
    <!--<input class="ipt-search" type="text" ng-model="search.name" placeholder="search...">-->
    <form>
        <input class="ipt-todo" type="text" ng-model="todo.name" placeholder="添加一个任务..."/>
        <input class="btn-add" type="button" value="添加" ng-click="add(todo)"/>
    </form>
    <ul>
        <li ng-repeat="todo in todos | filter: search">
            <span class="fr" ng-show="todo.completed">我还没写好...</span>
            <input class="checkbox" type="checkbox" ng-model="todo.completed" ng-click="update(todo)">
            <a href="#/{{todo._id}}">{{todo.name}}</a>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="/todoDetails.html">
    <div class="item">
        <span class="fr">创建于{{todo.updated_at}}</span>
        <input class="checkbox" type="checkbox" ng-model="todo.completed">{{todo.name}}
    </div>
    <div class="item">
        <textarea placeholder="添加备注...">{{todo.note}}</textarea>
    </div>
</script>

<script>
    angular.module('app', ['ngRoute'])

        //---------------
        // Services
        //---------------

            .factory('todos', ['$http', function ($http) {
                var todos = {};

                todos.getTodos = function () {
                    return $http.get('/todos');
                };
                todos.addTodo = function (params) {
                    return $http.post('/todos', params);
                };
                todos.getTodo = function (id) {
                    return $http.get('/todos/' + id);
                };
                todos.updateTodo = function (params) {
                    return $http.put('/todos/' + params._id, params);
                }
                todos.deleteTodo = function (params) {
                    return $http.delete('/todos/' + params._id);
                }
                return todos;
            }])

        //---------------
        // Controllers
        //---------------

            .controller('TodoController', ['$scope', 'todos', function ($scope, todos) {

                todos.getTodos().success(function (arr) {
                    $scope.todos = arr;
                });

                $scope.add = function (todo) {
                    if (todo && todo.name) {
                        todo.completed = false;
                        if (!todo.note) {
                            todo.note = 'add note...';
                        }
                    }
                    else {
                        alert('name required...');
                        return false;
                    }
                    todos.addTodo(todo).success(function (r) {
                        alert('added successfully');
                        location.reload();

                    })
                };

                $scope.update = function (todo) {
                    console.log(todo);
                };
            }])

            .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'todos', function ($scope, $routeParams, todos) {

                todos.getTodo($routeParams.id).success(function (todo) {
                    $scope.todo = todo;
                })
            }])

        //---------------
        // Routes
        //---------------

            .config(['$routeProvider', function ($routeProvider) {
                $routeProvider
                        .when('/', {
                            templateUrl: '/todos.html',
                            controller: 'TodoController'
                        })

                        .when('/:id', {
                            templateUrl: '/todoDetails.html',
                            controller: 'TodoDetailCtrl'
                        });
            }]);
</script>
</body>
</html>