<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <title><%= title %></title>
    <link ng-repeat="cssFile in cssFiles" rel="stylesheet" ng-href="css/{{cssFile}}.css"/>
    <link href="favicon.ico" rel="Shortcut Icon" type="image/x-icon">
</head>
<body>

<header>
    <nav>
        <a href="/">home</a>
        <a href="/todo">todo</a>
        <a href="/cv">cv</a>
        <a href="/message">message</a>
    </nav>
</header>

<section class="main" ng-view>

</section>

<footer>&copy;2015 diva</footer>

<!-- Libraries -->
<script src="js/libs/angular.min.js"></script>
<script src="js/libs/angular-route.min.js"></script>
<script src="js/main.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
</body>
</html>