<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/main.css'/>
</head>
<body>
<header>
    <h1><%= title %></h1>
</header>

<div class="main" ng-view></div>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>

<!-- Template -->
<script type="text/ng-template" id="/todos.html">
    <!--<input class="ipt-search" type="text" ng-model="search.name" placeholder="search...">-->
    <form>
        <input class="ipt-todo" type="text" ng-model="todo.name" placeholder="添加一个任务..."/>
        <input class="btn-add" type="button" value="添加" ng-click="add(todo)"/>
    </form>
    <ul>
        <li ng-repeat="todo in todos | filter: search">
            <span ng-show="todo.completed" style="float: right;">我还没写好...</span>
            <input class="checkbox" type="checkbox" ng-model="todo.completed">
            <a href="#/{{$index}}">{{todo.name}}</a>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="/todoDetails.html">
    <h1>{{todo.name}}</h1>
    completed: <input type="checkbox" ng-model="todo.completed">
    note: <textarea>{{todo.note}}</textarea>
</script>

<script>
    angular.module('app', ['ngRoute'])

        //---------------
        // Services
        //---------------

            .factory('todos', ['$http', function ($http) {
                var todos = {};
                todos.getTodos = function () {
                    return $http.get('/todos');
                }
                todos.addTodo = function (params) {
                    return $http.post('/todos', params);
                }
                return todos;
            }])

        //---------------
        // Controllers
        //---------------

            .controller('TodoController', ['$scope', 'todos', function ($scope, todos) {
                $scope.add = function (todo) {
                    if (todo && todo.name) {
                        todo.completed = false;
                        if (!todo.note) {
                            todo.note = 'add note...';
                        }
                    }
                    else {
                        alert('name required...');
                        return false;
                    }
                    todos.addTodo(todo).success(function (r) {
                        alert('added successfully');
                        location.reload();

                    })
                };

                todos.getTodos().success(function (arr) {
                    $scope.todos = arr;
                });
            }])

            .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'todos', function ($scope, $routeParams, todos) {
                $scope.todo = todos[$routeParams.id];
            }])

        //---------------
        // Routes
        //---------------

            .config(['$routeProvider', function ($routeProvider) {
                $routeProvider
                        .when('/', {
                            templateUrl: '/todos.html',
                            controller: 'TodoController'
                        })

                        .when('/:id', {
                            templateUrl: '/todoDetails.html',
                            controller: 'TodoDetailCtrl'
                        });
            }]);
</script>
</body>
</html>