<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <title>HI,DIVA!</title>
    <link rel='stylesheet' href='css/todo.css'/>
    <link href="favicon.ico" rel="Shortcut Icon" type="image/x-icon">
</head>
<body>

<header>
    <% include header.ejs %>
</header>

<div class="main" ng-view></div>

<footer>
    <% include footer.ejs %>
</footer>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>

<!-- Template -->
<script type="text/ng-template" id="todos.html">
    <form class="form-action">
        <input type="text" class="ipt-search" placeholder="search..." ng-model="search.name">
        <input type="text" class="ipt-todo" placeholder="add todo..." ng-model="newTodo">
        <input type="button" class="btn-add" value="ADD" ng-click="add()"/>
    </form>

    <ul class="list-todo">
        <li ng-repeat="todo in todos | filter: search">
            <input type="checkbox" ng-model="todo.completed" ng-change="update($index)">
            <a ng-show="!editing[$index]" href="#/{{todo._id}}">{{todo.name}}</a>
            <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
            <button ng-show="!editing[$index]" ng-click="remove($index)">remove</button>

            <input ng-show="editing[$index]" type="text" ng-model="todo.name">
            <button ng-show="editing[$index]" ng-click="update($index)">Update</button>
            <button ng-show="editing[$index]" ng-click="cancel($index)">Cancel</button>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="todoDetails.html">
    <section class="detail-todo">
        <p>{{todo.name}}<input type="checkbox" class="checkbox" ng-model="todo.completed"></p>
        note: <textarea ng-model="todo.note"></textarea><br><br>

        <button ng-click="update()">Update</button>
        <button ng-click="remove()">remove</button>
        <a href="/todo">Cancel</a>
    </section>
</script>

<script>
    angular.module('app', ['ngRoute'])

        //---------------
        // Services
        //---------------

            .factory('todos', ['$http', function ($http) {
                var path = '/api/todo';
                var todos = {};

                todos.getTodos = function () {
                    return $http.get(path);
                };
                todos.addTodo = function (params) {
                    return $http.post(path, params);
                };
                todos.getTodo = function (id) {
                    return $http.get(path + '/' + id);
                };
                todos.updateTodo = function (params) {
                    return $http.put(path + '/' + params._id, params);
                }
                todos.deleteTodo = function (params) {
                    return $http.delete(path + '/' + params._id);
                }
                return todos;
            }])

        //---------------
        // Controllers
        //---------------

            .controller('TodoCtrl', ['$scope', 'todos', function ($scope, todos) {
                $scope.editing = [];
                todos.getTodos().success(function (arr) {
                    $scope.todos = arr;
                });

                $scope.add = function () {
                    var todo = {};
                    if ($scope.newTodo) {
                        todo.name = $scope.newTodo;
                        todo.completed = false;
                    }
                    else {
                        alert('name required...');
                        return false;
                    }
                    todos.addTodo(todo).success(function (r) {
                        alert('added successfully');
                        $scope.todos.unshift(todo);
                        $scope.newTodo = ''; // clear textbox
                    })
                };

                $scope.update = function (index) {
                    var todo = $scope.todos[index];
                    todos.updateTodo(todo);
                    $scope.editing[index] = false;
                }

                $scope.edit = function (index) {
                    $scope.editing[index] = angular.copy($scope.todos[index]);
                }

                $scope.cancel = function (index) {
                    $scope.todos[index] = angular.copy($scope.editing[index]);
                    $scope.editing[index] = false;
                }

                $scope.remove = function (index) {
                    var todo = $scope.todos[index];
                    todos.deleteTodo(todo).success(function (r) {
                        alert('delete successfully');
                        $scope.todos.splice(index, 1);
                    })
                }
            }])

            .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'todos', '$location', function ($scope, $routeParams, todos, $location) {
                todos.getTodo($routeParams.id).success(function (todo) {
                    console.log(todo)
                    $scope.todo = todo;
                });

//                $scope.todo = todos.get({id: $routeParams.id});

                $scope.update = function () {
                    todos.update({id: $scope.todo._id}, $scope.todo, function () {
                        $location.url('/');
                    });
                }

                $scope.remove = function () {
                    todos.remove({id: $scope.todo._id}, function () {
                        $location.url('/');
                    });
                }
            }])

        //---------------
        // Routes
        //---------------

            .config(['$routeProvider', function ($routeProvider) {
                $routeProvider
                        .when('/', {
                            templateUrl: 'todos.html',
                            controller: 'TodoCtrl'
                        })
                        .when('/:id', {
                            templateUrl: 'todoDetails.html',
                            controller: 'TodoDetailCtrl'
                        });
            }]);
</script>
</body>
</html>